<%- include('../include/header') %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  </head>

  <body class="d-flex">
    <%- include('../include/sidebar') %>
      <div class="" style="background-color: #F5F7FB; width: 100%;">
        <header class="w-100 d-flex align-items-center justify-content-end p-3 shadow"
          style="background-color:#FFFFFF;">
          <h2 class=""><i class="bi bi-box-arrow-right text-danger"></i></h2>
        </header>

        <main class="d-flex flex-column align-items-center">
          <div class="d-flex justify-content-between align-items-center my-4 w-100" style="padding-left: 3vh; padding-right: 3vh;">
            <h4>kategori</h4>
            <%- include('include/modal-form') %>
            <div class="d-flex" style="gap: 10px;">
              <a class="btn btn-primary px-3" href="/kategori"><i class="bi bi-arrow-clockwise"></i> Muat Ulang</a>
              <button class="btn btn-outline-primary px-3" data-bs-toggle="modal"
              data-bs-target="#exampleModal" onclick="tambahData()"><i class="bi bi-plus-lg"></i>Tambah Kategori</button>
            </div>
          </div>

          <div class="table" style="padding-left: 3vh; padding-right: 3vh;">
            <div class="rounded p-4 shadow">
              <table id="example" class="hover" style="width:100%;">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Kategori Barang</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i < kategori.length; i++) { %>
                    <tr>
                      <td>
                        <%= kategori[i]._id %>
                      </td>
                      <td>
                        <%= kategori[i].kategori %>
                      </td>
                      <td class="d-flex" style="gap: 20px;">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="#exampleModal"
                          onclick="editData(`<%= kategori[i]._id %>`, `<%= kategori[i].kategori %>`)">
                          <i class="bi bi-pencil-square"></i> Edit
                        </button>
                          <form action="/deletekategori" method="POST">
                            <input type="hidden" value="<%= kategori[i]._id %>" name="idkategorifordeleted">
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Hapus</button>
                          </form>
                      </td>
                    </tr>
                    <% }; %>
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>

      <script>
        $(document).ready(function () {
          $('#example').DataTable();
        });
      </script>
      <script>
        function editData(idkategori, kategori) {
          const idupdatedbarang = document.getElementsByName('idupdatedkategori')[0].value = idkategori;
          const newnamabarang = document.getElementsByName('kategori')[0].value = kategori;

          const formedit = document.getElementsByName('modal-form')[0].setAttribute('action', '/kategori/' + idkategori);
        }
        function tambahData() {
          const idupdatedbarang = document.getElementsByName('idupdatedkategori')[0].value = '';
          const newnamabarang = document.getElementsByName('kategori')[0].value = '';

          const formedit = document.getElementsByName('modal-form')[0].setAttribute('action', '/kategori');
        }
      </script>
      <%- include('../include/footer') %>