<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark min-vh-100"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-3">
      <a
        href="/dashboard"
        class="nav-link text-white <%= (route == '/dashboard') ? 'active' : '' %>"
      >
        <i class="bi bi-speedometer2"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item mb-3">
      <a
        class="nav-link text-white d-flex justify-content-between <%= (route == '/barang' || route == '/kategori') ? 'active' : '' %> mb-1"
        data-bs-toggle="collapse"
        href="#collapse1"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        onclick="rotateArrow(0)"
      > 
        <div class="">
          <i class="bi bi-bricks"></i>
          Inventori
        </div>
        <i class="text-end bi bi-chevron-down dropdown-arrow"></i>
      </a>
      <div class="collapse rounded-bottom <%= (route === '/barang' || route === '/kategori') ? 'show' : '' %>" id="collapse1">
        <ul class="list-group list-group-flush rounded">
          <a href="/barang" class="list-group-item dropdown-item-custom <%= (route === '/barang') ? 'active' : '' %>">List Barang</a>
          <a href="/kategori" class="list-group-item dropdown-item-custom <%= (route === '/kategori') ? 'active' : '' %>">Kategori Barang</a>
        </ul>
      </div>
    </li>
    <li class="nav-item mb-3">
      <a
      href="/transaksi"
      class="nav-link text-white <%= (route == '/transaksi') ? 'active' : '' %>"
      >
      <i class="bi bi-bag"></i>
      Transaksi
    </a>
    </li>
    <li class="nav-item mb-3">
      <a
      href="/karyawan"
      class="nav-link text-white <%= (route == '/karyawan') ? 'active' : '' %>"
      >
      <i class="bi bi-person"></i>
      Karyawan
      </a>
    </li>
    <li class="nav-item mb-3">
      <a
        class="nav-link text-white d-flex justify-content-between <%= (route == '/barang' || route == '/kategori') ? 'active' : '' %> mb-1"
        data-bs-toggle="collapse"
        href="#collapse2"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        onclick="rotateArrow(1)"
      > 
        <div class="">
          <i class="bi bi-file-earmark-check"></i>
          Laporan Keuangan
        </div>
        <i class="text-end bi bi-chevron-down dropdown-arrow"></i>
      </a>
      <div class="collapse rounded-bottom <%= (route === '' || route === '') ? 'show' : '' %>" id="collapse2">
        <ul class="list-group list-group-flush rounded">
          <a href="/daftarkeuangan" class="list-group-item dropdown-item-custom <%= (route === '') ? 'active' : '' %>">Pengeluaran & Pemasukan</a>
          <a href="#" class="list-group-item dropdown-item-custom <%= (route === '') ? 'active' : '' %>">Pemasukan</a>
        </ul>
      </div>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >New project...</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >Settings</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >Profile</a
        >
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >Sign out</a
        >
      </li>
    </ul>
  </div>
</div>

<script>
  function rotateArrow(index) {
    const dropdownArrow = document.getElementsByClassName('dropdown-arrow')[index];
    if(dropdownArrow.classList.contains('collapse-icon-rotate')) {
      dropdownArrow.classList.remove('collapse-icon-rotate');
    } else {
      dropdownArrow.classList.add('collapse-icon-rotate');
    }
    console.log(dropdownArrow);
  }
</script>
